{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
  {% for ms in mali_servis %}
  {% if request.user == ms.user %}
    <ul><b>
		<img src="{{ ms.slike.url }}"> <br>
    	{{ ms.ms_automobila }} <br>
    	{{ ms.tablica }}<br>
    	{{ ms.kilometraza }} km
    </b><br>

    	<br>
    	<li>Ulje: {{ ms.ulje }}</li>
    	<li>
    	{% if ms.filter_ulja %}
    		Filter ulja: <b>Da</b>
    	{% else %}
    		Filter ulja: <b>Ne</b>
    	{% endif %}
    	</li>
    	<li>
    	{% if ms.filter_goriva %}
    		Filter goriva: <b>Da</b>
    	{% else %}
    		Filter goriva: <b>Ne</b>
    	{% endif %}
    	</li>
    	<li>
    	{% if ms.filter_vazduha %}
    		Filter vazduha: <b>Da</b>
    	{% else %}
    		Filter vazduha: <b>Ne</b>
    	{% endif %}
    	</li>
    	<li>
    	{% if ms.filter_kabine %}
    		Filter kabine: <b>Da</b>
    	{% else %}
    		Filter kabine: <b>Ne</b>
    	{% endif %}
    	</li>

      {% if ms.info %}

      <br>
        <b>- {{ ms.info }} </b>
        <br>
        
      {% endif %}

      <br>
    	{{ ms.date.date }}

        <br><br>
        <h6>
            <a href="{% url 'update' ms.pk %}" class="btn btn-outline-success btn-sm"> Izmeni </a> 
            <a href="{% url 'delete' ms.pk %}" class="btn btn-outline-danger btn-sm"> Obrisi </a>
        </h6>
    	<hr>

    </ul>

    {% endif %}
  {% endfor %}
  </div>
  
{% endif %}
{% endblock %}
