{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

	<div class="container">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}

			<br>
			<input type="submit" value="Sacuvaj" name="" class="btn btn-success btn-lg">
		</form>
	</div>

    <script>
        var name = '{{ user.id }}';
        document.getElementById('admin').value = name;
    </script>
<!-- 
	<div class="container">
		<form action="" method="POST">
			{% csrf_token %}

			<input type="file" multiple required name="slike" class="form-control-file">
		</form>
	</div> -->

{% endif %}
{% endblock %}
