{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}


	<div class="container">
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<br>
			<h6 id="update"> Sacuvaj Izmene </h6>
			<button class="btn btn-success" onclick="changeText()"> Sacuvaj </button>
		</form>
	</div>

	<script>
		function changeText(){
			var update = document.getElementById('update');
			update.style.color = 'green'
			update.innerHTML = 'SACUVANO';
		}
	</script>
	
{% endif %}
{% endblock %}
